

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-fpassword {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    max-width: 90%;
    margin: 5px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="password"],
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.forgot-passsword-item {
    margin-top: 20px;
    text-align: center;
}

.forgot-passsword-item a {
    margin-right: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-passsword-item a:hover {
    text-decoration: underline;
}

  .error-message{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #f87a69; /* Green color */
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    cursor: pointer;
    animation: fadeOut 9s forwards; /* Adjust the duration as needed */
}

.success-message{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #82daf0; /* Green color */
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    cursor: pointer;
    animation: fadeOut 5s forwards; /* Adjust the duration as needed */
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}
