body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
   
 
}
@media screen and (max-width: 850px) {
 
  .container-login{
    margin: 5px;

  }
  .container-signup{
    margin: 5px;
  }
  .container-fpassword{
    margin: 10px;
  }
    
 }



































