/* css/style.css */




header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

main {
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}

form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-submit {
  margin-top: 20px;
}

button[type="submit"] {
  background-color: #008803;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 4px 2px;
  
}

button:hover {
  background-color: #0056b3;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile {
  display: inline-block;
  width: calc(33.33% - 20px);
  /* Adjust as needed for grid spacing */
  margin: 10px;
  text-align: center;
}

.profile img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile h3 {
  margin-top: 10px;
}

.profile p {
  margin-bottom: 10px;
}

.profile a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}